/* PDF fonts */
@media print {
  html {
    font-family: "Titillium Web", sans-serif;  
  }
  body {
    font-family: "Titillium Web", sans-serif;  
  }
  article {
    font-family: "Titillium Web", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    font-family: "Titillium Web", sans-serif;
  }
}

.custom-logo {
  float: right;
  padding: 3em;
  padding-top: 0;
}